
<div class="lg:w-2/3 mx-auto my-8 px-8 py-12 lg:px-8 bg-slate-100 rounded-md">
  <p-progressSpinner ariaLabel="loading" *ngIf="loading" class="flex justify-center my-4"/>

  <p-table #dt [value]="data" dataKey="id" editMode="row" *ngIf="!loading" class="w-full">
    <ng-template pTemplate="header">
      <tr class=" text-white rounded-full">
        <th class="px-4 py-2">Index</th>
        <th class="px-4 py-2">Name</th>
        <th class="px-4 py-2">Description</th>
        <th></th>
        <button (click)=onAddNewRow() *ngIf="editable" [disabled]="!addRow"  class="w-6 rounded-full bg-indigo-500 hover:bg-indigo-400 transition duration-200"><i class="pi pi-plus" ></i></button>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row let-rowIndex="rowIndex" let-editing="editing">
      <tr [pEditableRow]="row" class="hover:bg-indigo-100 transition duration-200">
        <td class="px-4 py-2">{{rowIndex+1}}</td>

        <td class="px-4 py-2">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="row.name"  required class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500"/>
            </ng-template>
            <ng-template pTemplate="output">
              {{ row.name }}
            </ng-template>
          </p-cellEditor>
        </td>

        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="row.description" required class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500"/>
            </ng-template>
            <ng-template pTemplate="output">
              {{ row.description }}
            </ng-template>
          </p-cellEditor>
        </td>

        <td class="px-4 py-2" *ngIf="editable">
          <div class="flex items-center justify-center gap-2 ">
              <button

                *ngIf="!editing"
                pButton
                pRipple
                type="button"
                pInitEditableRow
                icon="pi pi-pencil"
                (click)="onRowEditInit(row, rowIndex)"
                class="p-button-rounded p-button-text text-indigo-700 hover:text-indigo-300 transition duration-200">
              </button>
              <button
                  *ngIf="editing"
                  pButton
                  pRipple
                  type="button"
                  pSaveEditableRow
                  icon="pi pi-check"
                  (click)="onRowEditSave(row,rowIndex)"
                  class="w-1/2 p-button-rounded p-button-text p-button-success text-green-700 hover:text-green-400 transition duration-200">
              </button>
              <button
                  *ngIf="editing"
                  pButton pRipple
                  type="button"
                  pCancelEditableRow
                  icon="pi pi-times"
                  (click)="onRowEditCancel(row, rowIndex)"
                  class="w-1/2 p-button-rounded p-button-text p-button-danger text-red-700 hover:text-red-400 transition duration-200">
              </button>
          </div>
        </td>
        <td *ngIf="!editable">
          <button
            pButton pRipple
            type="button"
            icon="pi pi-eye text-xl"
            (click)="sendRow(row)"
            class="p-button-rounded left-1 p-button-text text-blue-700 hover:text-blue-400 transition duration-200">
          </button>
        </td>

      </tr>
    </ng-template>
  </p-table>
</div>

