<footer class="bg-white rounded-lg shadow ">
  <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
    <div class="sm:flex sm:items-center sm:justify-between">
      <a class="flex items-center mb-4 sm:mb-0 space-x-3" href="#">
        <svg class="h-8 block" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
          <circle cx="50" cy="50" fill="none" r="48" stroke="#4B0082" stroke-width="4"/>
          <line stroke="#4B0082" stroke-linecap="round" stroke-width="6" x1="35" x2="65" y1="30" y2="30"/>
          <line stroke="#4B0082" stroke-linecap="round" stroke-width="6" x1="50" x2="50" y1="30" y2="60"/>
          <polyline fill="none" points="40,60 50,70 65,50" stroke="#4B0082" stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="6"/>
          <circle cx="50" cy="23" fill="#4B0082" r="3"/>
        </svg>
        <span
          class="self-center text-2xl font-semibold whitespace-nowrap bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 bg-clip-text text-transparent">TaskMan</span>
      </a>
      <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0">
        <li>
          <a class="hover:underline me-4 md:me-6" href="#">About</a>
        </li>
        <li>
          <a class="hover:underline me-4 md:me-6" href="#">Privacy Policy</a>
        </li>
        <li>
          <a class="hover:underline me-4 md:me-6" href="#">Licensing</a>
        </li>
        <li>
          <a class="hover:underline" href="#">Contact</a>
        </li>
      </ul>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto lg:my-8"/>
    <span class="block text-sm text-gray-500 sm:text-center">© 2024 TaskMan. All Rights Reserved.</span>
  </div>
</footer>
